html, body {
	font-family: arial, sans-serif;
	padding: 0;
	margin: 0;

	background: #111;

	color: #111;
	font-size: 1.5vh;
	
}

p {
	margin: 0;
	padding: 0;
	text-align: center;
	color: #fff;
	font-size: 4vh;
}

h1 {
	margin: 0;
	padding: 0;
	text-align: center;
	color: #fff;
	font-size: 7vh;
}

#main {
	margin: 0;
	padding: 0;
	padding-top: 25vh;

	height: auto;
	width: 100%;
}

#board {
	padding: 0;
	margin: auto;
	width: 33vh;
	height: 33vh;
}

.tile {
	padding: 0;
	margin: 0.5vh;

	height: 10vh;
	line-height: 10vh;
	width: 10vh;

	border-radius: 5px;
	background: #fff;

	text-align: center;

	cursor: pointer;
	float: left;

	font-size: 9vh;
}

.button {
	padding: 0;
	margin: 0.5vh;

	height: 5vh;
	width: 15.5vh;
	line-height: 5vh;
	vertical-align: middle;

	background: #fff;
	text-align: center;
	border-radius: 5px;
	cursor: pointer;

	float: left;

	font-size: 4vh;

}

.reset {
	padding: 0;
	margin: 0.5vh;

	height: 5vh;
	width: 32vh;
	line-height: 5vh;
	vertical-align: middle;

	background: #fff;
	text-align: center;
	border-radius: 5px;
	cursor: pointer;

	float: left;

	font-size: 4vh;

}

